/* 顶部导航栏 */
.topnav {
    height: 44px;
    background-color: #0054a7;
}

.topnav-left {
    float: left;
}

.topnav-left span,
.topnav-left a {
    float: left;
    color: white;
    line-height: 44px;
    font-family: "SimSun";
}

.topnav-left a:nth-child(2) {
    width: 70px;
    text-align: center;
    background-image: url(../img/topnav_back.png);
    margin-left: 30px;
}

.topnav-left a:nth-child(2):hover {
    background-color: #00366d;
}

.topnav-left a:nth-child(3) {
    margin-left: 20px;
}

.topnav-right {
    float: right;
    width: 451px;
    background-image: url(../img/topnav_right.png);
}

.topnav-right a {
    float: left;
    line-height: 44px;
    color: white;
}

.topnav-right a:nth-child(-n+3) {
    padding: 0px 9px;
    margin-left: 2px;
}

.topnav-right a:nth-child(-n+3):hover {
    background-color: #00366d;
}

.topnav-right a:nth-last-child(-n+5) {
    margin-left: 2px;
    width: 47px;
    height: 44px;
    text-align: center;
}

.topnav-right a:nth-last-child(-n+5):hover {
    background-color: #00366d;
}

.topnav-right a:nth-last-child(-n+5) img {
    vertical-align: middle;
}

.topnav-right a:nth-last-child(4) {
    position: relative;
}

.topnav-right a:nth-last-child(4):before {
    content: "13";
    position: absolute;
    top: 7px;
    left: 25px;
    display: block;
    width: 20px;
    height: 15px;
    background-color: #ff8c14;
    line-height: 15px;
    border-radius: 7px 7px 7px 7px / 6px  6px 6px 6px;
}

/* 搜索栏 */
.search {
    height: 108px;
}

.search >.container >a:nth-child(1) {
    float: left;
    margin-top: calc( (108px - 53px) / 2);
}

.search-middle {
    float: left;
}

.search-middle-top {
    margin-top: 35px;
    margin-left: 156px;
}

.search-middle-top div:nth-child(1) {
    display: inline-block;
    width: 484px;
    height: 38px;
    box-sizing: border-box;
    border: 3px solid #0054a7;
    font-size: 0px;
}

.search-middle-top > a {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #666666;
    line-height: 1.4em;
    margin-left: 8px;
}

.search-middle-top div:nth-child(1) button{
    border: none;
    vertical-align: top;
}
.search-middle-top div:nth-child(1) button:nth-child(1) {
    width: 81px;
    height: 32px;
    background-color: #f6f6f6;
    border-right: 1px solid #ededed;
}

.search-middle-top div:nth-child(1) button:nth-child(3) {
    width: 89px;
    height: 32px;
    background-color: #0054a7;
    color: white;
    font-size: 14px;
}

.search-middle-top button:nth-child(1) img {
    vertical-align: middle;
    margin-left: 12px;
}

.search-middle-top input {
    border: none;
    line-height: 32px;
    margin-right: 150px;
    padding-left: 12px;
    box-sizing: border-box;
}

.search-middle-bottom {
    margin-top: 7px;
    margin-left: 156px;
}

.search-middle-bottom a {
    color: #666666;
    margin-right: 12px;
}

.search-right {
    float: right;
    margin-top: 42px;
}

.search-right a {
    position: relative;
    float: left;
    width: 90px;
    height: 26px;
}


.search-right a:nth-child(1) s {
    color: #ff8c14;
    font-weight: 700;
    margin-left: 3px;
}

.search-right a:nth-child(1) p:nth-child(2) {
    font-weight: 700;
}

.search-right a:nth-child(1) img,
.search-right a:nth-child(2) img:nth-child(3) {
    position: absolute;
    right: 0px;
    bottom: 4px;
}

.search-right a:nth-child(2) i {
    vertical-align: bottom;
} 

.search-right a:nth-child(2) {
    position: relative;
    margin-left: 20px;
}

.search-right a:nth-child(2)::before {
    position: absolute;
    content: "0";
    display: block;
    top: -1px;
    left: 20px;
    color: #ff8c14;
    font-size: 14px;
    font-weight: 700;
}

/* 菜单导航栏 */
.tablenav {
    width: 100%;
    height: 59px;
    box-sizing: border-box;
    border-bottom: 4px solid #0054a7;
    overflow: hidden;
}

.tablenav-left {
    float: left;
    width: 148px;
    height: 45px;
    background-color: #0054a7;
    color: white;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    margin-top: 10px;
}

.tablenav-middle {
    float: left;
}

.tablenav-middle a {
    float: left;
    width: 93px;
    height: 55px;
    text-align: center;
    background-image: url(../img/tablenav_backline.png);
    background-repeat: no-repeat;
    background-position: 92px 0px;
}


.tablenav-middle a img {
    margin-top: 5px;
}

.tablenav-middle a p {
    margin-top: 8px;
    font-size: 14px;
    font-family: "SimSun";
    color: #535353;
}

.tablenav-middle a:nth-child(1) p {
    color: #ff8c14;
}

.tablenav-right {
    float: right;
}

.tablenav-right p:nth-child(1) {
    font-size: 27px;
    line-height: 20px;
    color: #00acde;
    font-family: "ArialMT";
}

.tablenav-right p:nth-child(2) {
    font-size: 14px;
    color: #999999;
    line-height: 20px;
    margin-top: 5px;
}

.tablenav-right p:nth-child(2) em {
    float: left;
}

.tablenav-right p:nth-child(2) s {
    float: right;
}

/* 内容栏 */
.banner-left {
    float: left;
    width: 148px;
    height: 474px;
    background-color: aqua;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-top: none;
    background-color: #fbfbfb;
}

.banner-left li {
    position: relative;
    line-height: 33px;
    text-align: center;
}

.banner-left img {
    position: absolute;
    top: 8px;
    left: 21px;
}

.banner-middle {
    float: left;
    margin: 0 18px;
    margin-top: 20px;
}

.banner-middle-bottom {
    border: 1px solid #eeeeee;
    margin-top: 22px;
}

.banner-middle-bottom a:nth-child(1),
.banner-middle-bottom a:nth-child(5) {
    float: left;
    width: 24px;
    height: 147px;
    text-align: center;
}

.banner-middle-bottom a:nth-child(1) img,
.banner-middle-bottom a:nth-child(5) img {
    margin-top: 56px;
}

.banner-middle-bottom a:nth-child(2),
.banner-middle-bottom a:nth-child(3),
.banner-middle-bottom a:nth-child(4) {
    float: left;
    width: 224px;
    height: 147px;
    border-right: 1px solid #eeeeee;
}
.banner-middle-bottom a:nth-child(4) {
    border: none;
}


.banner-right {
    float: right;
    width: 292px;
    margin-top: 20px;
}

.banner-right-top {
    width: 292px;
    height: 143px;
    box-sizing: border-box;
    border: 1px solid #ededed;
}

.banner-right-top-title {
    width: 292px;
}

.banner-right-top-title a {
    float: left;
    height: 33px;
    line-height: 33px; 
    padding: 0 6px;
    border-bottom: 1px solid #ededed;
    color: #999999;
    background-color: #fbfbfb;
}

.banner-right-top-title a:first-child {
    color: #333333;
    border-right: 1px solid #ededed;
    border-bottom: none;
    background-color: white;
}
.banner-right-top-title a:last-child {
    padding-right: 18px;
}

.banner-right-top-content ul {
    margin-top: 10px;
}

.banner-right-top-content ul:first-child {
    float: left;
    line-height: 20px;
    margin-left: 15px;
}
.banner-right-top-content ul:last-child {
    float: right;
    line-height: 20px;
    margin-right: 15px;
}

.banner-right-middle {
    margin-top: 18px;
}

.banner-right-middle-photo img {
    float: left;
}

.banner-right-middle-photo p {
    float: left;
    margin-left: 16px;
    margin-top: 5px;
    color: #0054a7;
}

.banner-right-middle-photo p em {
    color: #ff8a00;
}

.banner-right-middle-photo p strong {
    line-height: 33px;
    color: #666666;
    font-weight: normal;
}

.banner-right-middle-button {
    margin-top: 18px;
}

.banner-right-middle-button a {
    float: left;
    height: 37px;
    width: 83px;
    text-align: center;
    line-height: 37px;
    font-size: 14px;
    background-color: #ff8a00;
    color: white;
    margin-right: 8px ;
}

.banner-right-middle-button a:last-child {
     width: 102px;
}

.banner-right-middle-button a img {
    margin-top: 7px;
    margin-right: 10px;
}

.banner-right-bottom {
    margin-top: 19px;
}

.banner-right-bottom-title {
    font-size: 16px;
    font-family: "SimSun";
    color: black;
    font-weight: 700 ;
}

.banner-right-bottom-content {
    margin-top: 10px;
}

.banner-right-bottom-content a {
    float: left;
    width: 64px;
    height: 64px;
    background-color: #f1f1f1;
    margin-right: 12px;
    text-align: center;
    color: #666666;
}

.banner-right-bottom-content a:nth-child(-n+4) {
    margin-bottom: 12px;
}

.banner-right-bottom-content a:nth-child(4),
.banner-right-bottom-content a:nth-child(8) {
    margin-right: 0px;
}

.banner-right-bottom-content img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 13px;
}

/* 考研栏 */
.graduate {
    margin-top: 30px;
}

.graduate-top {
    height: 36px;
}

.graduate-top {
    position: relative;
    background-image: url(../img/graduate_top.png);
    background-repeat: no-repeat;
}

.graduate-top-left {
    float: left;
    width: 472px;
}

.graduate-top-left div {
    float: right;
    margin-top: 18px;
}

.graduate-top-left div em,
.graduate-top-right div em {
    color: #999999;
    font-size: 14px;
}

.graduate-top-left div a {
    font-size: 14px;
    font-family: "SimSun";
    color: #333333;
}

.graduate-top-left div a:nth-child(1) {
    margin-right: 15px;
}

.graduate-top-left div a:nth-child(3) {
    margin-left: 15px;
}

.graduate-top-right {
    float: right;
    width: 472px;
}

.graduate-top-right div {
    margin-top: 18px;
}

.graduate-top-right div a {
    font-size: 14px;
    font-family: "SimSun";
    color: #333333;
}

.graduate-top-right div a:nth-child(1) {
    margin-right: 15px;
}

.graduate-top-right div a:nth-child(3) {
    margin-left: 15px;
}

.graduate-top-right div {
    float: center;
}

.graduate-top h2 {
    position: absolute;
    top: -4px;
    left: 50%;
    margin-left: -40px;
    font-size: 35px;
    font-family: "MicrosoftYaHei";
    line-height: 35px;
    color: black;
}

.graduate-top h2 em:nth-child(1) {
    color: #cc0000;
}

.graduate-content {
    margin-top: 22px;
}

.graduate-recommend {
    float: left;
    width: 398px;
    height: 434px;
    border-right: 1px solid #ededed;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.graduate-recommend h3,
.graduate-free-title,
.graduate-answer h3 {
    line-height: 52px;
    font-size: 14px;
}

.graduate-recommend-product p:nth-child(2) {
    font-size: 18px;
    font-family: "AiralMT,SimSun";
    margin-top: 10px;
}

.graduate-recommend-product p:nth-child(3) {
    margin-top: 5px;
}

.graduate-recommend-product p:nth-child(3) em {
    font-size: 24px;
    color: #e6393b;
    font-weight: normal;
}

.graduate-recommend-product p:nth-child(3) small {
    font-size: 12px;
    color: #666666;
    margin-left: 8px;
}

.graduate-recommend-product p:nth-child(3) i {
    color: #999999;
    margin-left: 30px;
}

.graduate-recommend-product p:nth-child(3) a {
    display: inline-block;
    width: 101px;
    height: 30px;
    background-color: #3eb134;
    vertical-align: text-bottom;
    box-sizing: border-box;
    background-image: url(../img/graduate_recommend_free.png);
    background-repeat: no-repeat;
    background-position: 9px center;
    padding-left: 37px;
    line-height: 30px;
    color: white;
    margin-left: 70px;
}

.graduate-recommend-bottom {
    margin-top: 10px;
    border-top: 1px solid #ebebeb;
}

.graduate-recommend-bottom ul {
    width: 377px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.graduate-recommend-bottom li {
    height: 26px;
}

.graduate-recommend-bottom a {
    display: block;
    line-height: 26px;
    font-size: 14px;
    padding-left: 42px;
    box-sizing: border-box;
    background-image: url(../img/icon-vedio.png);
    background-repeat: no-repeat;
    background-position: 0px center;;
}

.graduate-recommend-bottom i {
    float: right;
}

.graduate-free {
    float: left;
    width: 278px;
    height: 434px;
    border-top: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding-left: 20px;
    padding-right: 20px;
}
.graduate-free-content h4 {
    font-size: 18px;   
    font-weight: normal;
    line-height: 38px;
}

.graduate-free-content p s:nth-child(1){
    font-size: 22px;  
    color: #666666;
}

.graduate-free-content p s:last-child,
.graduate-free-content p s:nth-child(2) {
    color: #666666;
}

.graduate-free-content p s:nth-child(2) {
    margin-left: 8px;
}

.graduate-free-content p s:nth-child(3) {
    color: #999999;
    margin-left: 25px;
}

.graduate-free-content p img {
    vertical-align: text-top;
    margin-left: 30px;
}

.graduate-free ul {
    border-top: 1px solid #ededed;
    margin-top: 14px;
    padding-top: 10px;
}

.graduate-free ul li {
    background-image: url(../img/graduate_free_list.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 8px;
    line-height: 26px;
    font-size: 14px;
}

.graduate-answer {
    float: left;
    width: 191px;
    height: 436px;
    padding: 0 20px;
    border: 1px solid #ededed;
    border-left: none;
    box-sizing: border-box;
}

.graduate-answer ul {
    position: relative;
}

.graduate-answer ul:after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 360px;
    left: 65px;
    top: 0px;
    border-left: 1px dashed #ebebeb;
    box-sizing: border-box;
}

.graduate-answer ul li {
    position: relative;
}

.graduate-answer ul a:before {
    position: absolute;
    top: 21px;
    left: 61px;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: 2px solid #e6e6e6;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
}

.graduate-answer ul a:hover:before {
    border-color: #ff9900;
}

.graduate-answer ul li:nth-last-child(-n+3) {
    margin-top: 22px;
}

.graduate-answer h3 a {
    margin-left: 73px;
}

.graduate-answer h3 img {
    vertical-align: text-top;
}

.graduate-answer-person {
    float: left;
}

.graduate-answer-person h5 {
    color: #999999;
    text-align: center;
    margin-top: 6px;
}

.graduate-answer-question {
    float: right;
    width: 68px;
    height: 52px;
    overflow: hidden;
}

.graduate-answer-question p:nth-child(1) {
    white-space: nowrap;
    overflow: hidden;
    color: #5093d5;
    font-size: 14px;
}

.graduate-answer-question p:nth-child(2) {
    color: #999999;
    font-size: 12px;
    overflow: hidden;
    line-height: 20px;
}

.graduate-more {
    float: left;
    width: 291px;
    height: 436px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    box-sizing: border-box;
    padding-left: 10px;
}

.graduate-more-title {
    border-bottom: 4px solid #f6f6f6;
    height: 56px;
    box-sizing: border-box;
}

.graduate-more-title button {
    background-color: white;
    border: none;
    line-height: 52px;
    font-size: 14px;
    margin-right: 11px;
}

.graduate-more-title button:hover {
    border-bottom: 4px solid #e4e4e4;
}

.graduate-more-content > a {
    display: block;
    border-bottom: 1px solid #ebebeb;
    margin-top: 20px;
    padding-left: 3px;
}

.graduate-more-content > a h3 {
    font-size: 18px;
}

.graduate-more-content > a p {
    margin-top: 8px;
    line-height: 22px;
    margin-bottom: 18px;
}

.graduate-more-content ul {
    padding-top: 15px;
}

.graduate-more-content ul li {
    padding-left: 16px;
    background-image: url(../img/graduate_free_list.png);
    background-repeat: no-repeat;
    background-position: 5px center;
    line-height: 26px;
}